*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
#nav{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(52, 9, 243);
}
#nav_part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #nav_part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav_part1 img{
    height: 30px;
    width: 170px;

}